**/.vagrant
**/*.iso
**/*iso
**/.trunk
**/*.pem
**/elastic-docker
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.ansible/tmp/
*.retry
.helm/cache/
.vscode/
.idea/
.venv


# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# (optional) virtual environments
.venv/
venv/
env/

